@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Log Keluar", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()


    <div class="col-md-12 col-sm-12 additional-nav">
        <ul class="list-unstyled list-inline pull-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", new { area = "" }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </div>
    }
}
else
{

    <div class="col-md-6 col-sm-6 additional-nav">
        <ul class="list-unstyled list-inline pull-right">
            <li>@Html.ActionLink("Daftar Keahlian", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log Masuk", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    </div>
}
