<li>
    @Html.ActionLink("About  Us", "About", "Home")
</li>
<li><a href="#">Home</a></li>
<li><a href="#">Features</a></li>
<li class="dropdown">
    <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover="dropdown" data-toggle="dropdown" href="#">
        Blog <i class="fa fa-angle-down"></i>
    </a>

    <ul class="dropdown-menu">
        <li>
            <a href="blog.html">Blog</a>
        </li>
    </ul>
</li>