@using MVC5.Common
@if (User.IsInRole(MyConstant.Role_Admin))
{
    <li><a href="/Listingadmin"><i class="fa fa-tags"></i>Listingadmin</a></li>
    <li><a href="/MemberPackages"><i class="fa fa-tags"></i>MemberPackages</a></li>
    <li><a href="/MembershipRequests"><i class="fa fa-tags"></i>MembershipRequests</a></li>
    <li><a href="/News"><i class="fa fa-tags"></i>News</a></li>
    <li><a href="/Articles"><i class="fa fa-tags"></i>Articles</a></li>
    <li><a href="/PosRequests"><i class="fa fa-tags"></i>PosRequests</a></li>
    <li><a href="/AffiliateComissions"><i class="fa fa-tags"></i>AffiliateComissions</a></li>
    <li><a href="/Sak"><i class="fa fa-tags"></i>SAK</a></li>
    <li><a href="/Sk"><i class="fa fa-tags"></i>SK</a></li>
}
