
<li>
    @Html.ActionLink("Our Package", "BuyPackage", "MemberPackages")
</li>
<li>
    @Html.ActionLink("About  Us", "Article", "Home", new { articleKod = "ARTCL_TYPE_ABOUT" }, null)
</li>
<li>
    @Html.ActionLink("Blog", "Index", "Blog")
</li>
