

.nadi-color-orange {
    color: #FF7302 !important;
}

.nadi-background-orange {
    background-color: #FF7302 !important;
}

.nadi-font-small {
    font-size: 29px !important;
    line-height: 24px !important;
}
