@model IEnumerable<MVC5.Models.Message>
@using MVC5.Common

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-page">
    <h1>Message List</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>


                        <th>
                            Subject
                        </th>
                        <th>
                            Perihal
                        </th>
                        <th>
                            Tindakan
                        </th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>
                            <td>
                                
                                @Html.Raw(item.Perihal)
                            </td>
                            <td>
                                @if (!item.ReadStatus)
                                {
                                    @Html.ActionLink("Baca", "ReadMessage", new { id = item.Id, activate = true })
                                }

                            </td>

                        </tr>
                    }



                </tbody>
            </table>



        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Back to My Account", "Index", "Manage", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
        <hr />
    </div>
    </div>
