
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @ViewBag.Message
    </p>
    <img src="/Transaction/BarcodeImage?barcodeText=@ViewBag.callbackUrl" />
</div>

