@model MVC5.Models.Article
@using MVC5.Common

@{
    ViewBag.Title = "Perisytiharan Jualan Lelongan Malaysia";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}






<div class="container">
    <!--breadcrumbs start-->
    <ul class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">@Model.Header</li>
    </ul>
    <!--breadcrumbs end-->
    <hr />
    <div class="row">
        <!--blog start-->
        <div class="col-lg-9">
            <div class="blog-item">
                @if (Model.imgUrl != null)
                {
                    <div class="row">
                       
                        <div class="col-lg-10 col-sm-10">


                            <div class="blog-img gs">
                                <img src="~/Content/img/article/@Model.Id/@Model.imgUrl" alt="" />
                            </div>



                        </div>
                    </div>
                }
                
                <div class="row">
                  
                    <div class="col-lg-10 col-sm-10" style="padding-top:20px;">
                        @Html.Raw(Model.Content)
                       

                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-3">
            <div class="blog-side-item">
                <div class="category">
                    <h3>
                        Categories
                    </h3>
                    <ul class="list-unstyled">
                        @Html.Partial("MainMenu")
                    </ul>
                </div>

                <div class="blog-post">
                    <h3>
                        Latest Blog Post
                    </h3>
                    <div class="media">
                        <a class="pull-left gs" href="javascript:;">
                            <img class=" " src="img/blog/blog-thumb-1.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <a href="javascript:;">
                                    02 May 2014
                                </a>
                            </h5>
                            <p>
                                Donec id elit non mi porta gravida at eget metus amet int
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left gs" href="javascript:;">
                            <img class=" " src="img/blog/blog-thumb-2.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <a href="javascript:;">
                                    02 May 2014
                                </a>
                            </h5>
                            <p>
                                Donec id elit non mi porta gravida at eget metus amet int
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left gs" href="javascript:;">
                            <img class=" " src="img/blog/blog-thumb-3.jpg" alt="">
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <a href="javascript:;">
                                    02 May 2014
                                </a>
                            </h5>
                            <p>
                                Donec id elit non mi porta gravida at eget metus amet int
                            </p>
                        </div>
                    </div>
                </div>

                <div class="tags">
                    <h3>
                        Tags
                    </h3>
                    <ul class="tag">
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                flat
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                clean
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                admin
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                UI
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                responsive
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                Web Design
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                UIX
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                flat Admin
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-tags pr-5">
                                </i>
                                Dashboard
                            </a>
                        </li>
                    </ul>
                </div>


                <div class="archive">
                    <h3>
                        Archive
                    </h3>
                    <ul class="list-unstyled">
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-right pr-10">
                                </i>
                                May 2014
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-right pr-10">
                                </i>
                                April 2014
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-right pr-10">
                                </i>
                                March 2014
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-right pr-10">
                                </i>
                                February 2014
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-angle-double-right pr-10">
                                </i>
                                January 2014
                            </a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>


    </div>

</div>
