@model IEnumerable<MVC5.Models.Article>
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container">
    <!--breadcrumbs start-->
    <ul class="breadcrumb" style="padding-top:30px;">
        <li><a href="index.html">Home</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
    <!--breadcrumbs end-->
    <hr />
    <section id="faq">

        <div class="container">



            <div class="row">

                <div class="col-md-10 col-md-offset-1 mar-b-30">

                    <div id="heading">
                        <h1 class="wow flipInX">F.A.Q.</h1>
                        <p class="lead wow fadeIn">You have a question? Someone else might have had the exact same one. Let's find out!</p>
                    </div>

                    <!--////////// Accordion Toggle //////////-->
                    <div class="panel-group wow fadeInUp" id="accordion" data-wow-duration="2s">

                        <!-- PANEL 1 -->
                        @foreach (var item in Model)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading panel-heading-faq">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#@item.Id">
                                            @item.Header
                                        </a>
                                    </h4>
                                </div>

                                <div id="@item.Id" class="panel-collapse collapse">
                                    <div class="panel-body panel-faq">
                                        <p>@Html.Raw(item.Content)</p>
                                    </div>
                                </div>
                            </div>
                        }
                        

                     
                    </div>


                </div><!-- /col-md-10 -->


            </div>
        </div>

    </section>

</div>

