
    @using MVC5.Common
    
    <!-- Promo block BEGIN -->
    <div class="promo-block" id="promo-block">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-1">
                        <img src="~/Content/assets/frontend/onepage/img/silder/slide1.jpg" alt="" data-bgfit="cover" style="opacity:0.4 !important;" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="tp-caption large_text customin customout start" style="margin-bottom:550px !important;"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="60"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                           
                            <div class="promo-like-text">
                                <table>
                                    <tr>
                                        <td><img style="height:100px; width:100px;" src="~/Content/img/nadilogo.png" alt="logo" /></td>
                                        <td style="padding-left:10px;">
                                            <h2>Pertubuhan Pembangunan Intergeriti Malaysia</h2>
                                            <p style="font-style:italic;">(National Association Development Integrity)<br><a>[PPM-018-10-27022016]</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="tp-caption large_bold_white_25 customin customout tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="1400"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn"
                             style="z-index: 3">
                            Selamat datang! ke
                            <br /><span class="nadi-color-orange">Pertubuhan NADI Kebangsaan Malaysia</span>
                            <br /><span>Anda dialu-alukan untuk menjadi</span>
                            <br /><span>Ahli Baru Yang Sah dan Aktif.</span>
                        </div>

                    </li>
                    
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- Promo block END -->
    
    
    
    
   
    
    <!-- Checkout block BEGIN -->
    <div class="checkout-block content">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <h2>Terbuka kepada rakyat malaysia berumur <span class="nadi-color-orange">18 tahun</span> keatas.</h2>
                    <h2>Program ini menawarkan Ahli NADI kearah <span class="nadi-color-orange">Keusahawanan</span>.</h2>
                    <h2><span class="nadi-color-orange">RM280 </span>untuk setiap ahli baru yang dibawa oleh Ahli Sediada selaku pencadang.</h2>
                    
                </div>
                <div class="col-md-2 text-right">
                    <h4>Seramai @ViewBag.totalregister orang telah mendaftar!</h4>
                    <em>Klik untuk sertai kami</em>
                    <a href="@MyConstant.Base_Url/Account/Login" target="_blank" class="btn btn-primary">DAFTAR SEKARANG</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Checkout block END -->
    <!-- Facts block BEGIN -->
    <div class="facts-block content content-center" id="facts-block">
        <h2>Kelebihan keahlian dibawah pakage ini diantaranya:</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>2 hari</strong>
                        Percutian Langkawi
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>RM3K</strong>
                        Khairat kematian
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>1 Tahun</strong>
                        mata ganjaran aktif rangkaian
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>Towing </strong>
                        Service
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>Web</strong>
                        Ruang Slot Pengkiklanan
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>< 50%</strong>
                        Workshop Diskaun
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>> RM3k</strong>
                        Nilai/faedah Ahli Sah
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="item nadi-background-orange">
                        <strong>Dan</strong>Banyak Lagi...
                    </div>
                </div>
            </div>
        </div>
        <h2>Anda Berminat ? <a href="@MyConstant.Base_Url/Account/Login" target="_blank" class="btn btn-primary">DAFTAR SEKARANG</a></h2>
    </div>
    <!-- Facts block END -->

    
    
    
    
    <!--[if lt IE 9]>
    <script src="~/Content/assets/global/plugins/respond.min.js"></script>
    <![endif]-->
   