
    @using MVC5.Common
   
   
    
    
    
    
   
    
   
    <!-- Facts block BEGIN -->
    <div class="facts-block content content-center" id="facts-block">
        <h2 class="nadi-color-orange">Ketetapan Peraturan Penyertaan Pakej Program & Keahlian</h2>
        <div class="container">
            <div class="row">
                <div class="nadi-row">

                    <p>
                        La Asyik Service & Trading (LAST) adalah Organizer Sah Pertubuhan NADI Kebangsaan.
                        <br />Semua pembayaran Penyertaan Pakej Program & Keahlian hanya dibuat atas nama organizer.
                        <br />Nilai Penyertaan Pakej Program & Keahlian ini ialah RM280 sahaja.
                        <br />Semua Penyertaan akan diSah Data Aktif Keahlian oleh LAST setelah sah pembayaran .
                        <br />Pembayaran hanya dibuat melalui Bank sahaja (Maybank No Akaun 562807534875).
                        <br />Upload resit bank sebagai bukti dalam sistem (Upload Resit) dan hantar (send).
                        <br />Dalam masa 24 jam bekerja (Pengesahan) sistem akan aktif dapat semak dalam Login Ahli, bersama Invitation Holiday dan Keahlian Nadi Kebangsaan.
                        <br />Tentukan masa percutian dengan klik tarikh cadangan (lepas 3 bulan aktif keahlian).
                        <br />Invitation Holiday boleh di jual balik dengan persetujuan.
                        <br />Selepas 1 bulan Pengesahan Aktif Keahlian, layak terima nilai pakej mata ganjaran.
                        <br />Mata dipetak merah sahaja, klik (butang Redeem) pada 1 haribulan setiap bulan, pilihan dan isi ruangan. 
                        <br />Penyertaan yang belum berbayar, dalam sistem adalah sebagai Pre Active dan di beri masa sebulan.
                        <br />Peserta Pre Aktif boleh menjadi pencadang orang baru dan akan dapat Mata Ganjaran Pre Aktif.
                        <br />Jika sekiranya Penyertaan Pre Aktif  masih tidak buat pembayaran dan masa telah tamat, sistem akan keluarkan rekod dan data secara automatik.
                        <br />Rangkaian Peserta lain berjalan terus dengan  masanya masing-masing.
                        <br />Penyertaan bermakna telah faham, setuju dan terima peraturan diatas.
                        
                    </p>

                </div>
                
            </div>
            <br />
            <br />
            <br />

            
        
    </div>
        <h2>Saya faham dan bersetuju dengan syarat-syarat diatas.</h2>
        <h2><a href="/Account/Login" class="btn btn-primary">Ya</a> | <a href="/Home" class="btn btn-primary">Tidak</a></h2>
        
     </div>
    <!-- Facts block END -->
